# Variables de entorno (NO subir el archivo .env con tu token real)
BOT_TOKEN=pon_tu_token_aqui
CHANNEL_ID=-1004492367160
PAYMENT_ADDRESS=TH5KDQDW1pYmBzXUxhEu48MJm4GCzMnK3J
PRICE_1M=3
PRICE_3M=7
PRICE_LIFETIME=15
